html, body {
  margin: 0;
  padding: 0;
  background-color: #fbf9fe;
}
.content {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  overflow: hidden;
}
.w400 {
  width: 400px!important;
}
.mgb10 {
  margin-bottom: 10px!important;
}
.l30 {
  line-height: 30px!important;
}
.h60 {
  height: 60px!important;
}
.btm10 {
  bottom: 10px!important;
}
.bd-red {
  border: 1px solid #c33327!important;
}
