@font-face {
  font-family: 'iconfont';  /* project id 247353 */
  src: url('//at.alicdn.com/t/font_slshae0fsyaurf6r.eot');
  src: url('//at.alicdn.com/t/font_slshae0fsyaurf6r.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_slshae0fsyaurf6r.woff') format('woff'),
  url('//at.alicdn.com/t/font_slshae0fsyaurf6r.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_slshae0fsyaurf6r.svg#iconfont') format('svg');
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'iconfont' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-warn:before {
  content: "\e600";
}

.icon-cancel:before {
  content: "\e666";
}

.icon-avator:before {
  content: "\e614";
}

.icon-beauty:before {
  content: "\e609";
}

.icon-right:before {
  content: "\e613";
}

.icon-popups:before {
  content: "\e690";
}

.icon-loading:before {
  content: "\e615";
}

.icon-tabbar:before {
  content: "\e656";
}

.icon-inputs:before {
  content: "\e627";
}

.icon-toast:before {
  content: "\e6c5";
}

.icon-cell:before {
  content: "\e62d";
}

.icon-buttons:before {
  content: "\e62a";
}

.icon-btn-loading:before {
  content: "\e60a";  /*e65c e615 e630 e603 e602 e770 e601*/
}

.icon-page:before {
  content: "\e62e";
}

